.list-flashcard {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.flashcard-example-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flashcard-example-content {
    margin-top: 0.5rem;
}
